<div class="bg-white rounded-xl shadow-sm p-6">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Racional da Análise</h2>
  <p class="text-gray-600">
  <div class="preview-bid list-decimal">
    <span [innerHTML]="convertRational()"></span>
  </div>
</div>

<div class="bg-white rounded-xl shadow-sm p-6 mt-2">
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Candidatos com a melhor pontuação</h2>
  <p class="text-gray-600 pl-5">

  @for (finalResume of arrFinalResume; track $index) {
    <li class="mb-4">
      <strong class="text-amber-600">{{ finalResume.profile }} - {{ finalResume.candidate }}</strong>
<!--      <div class="text-amber-500 mt-3">Criterio de Escolha</div>-->
<!--      @for (criteria of finalResume.resume.criteria; track $index) {-->
<!--        <div class="text-gray-600 ml-3">{{ criteria.criteria }}</div>-->
<!--        @for (experience of criteria.experiences; track $index) {-->
<!--          <div class="text-amber-500 mt-2 ml-3">{{ experience.entity }}</div>-->
<!--          <div class="text-gray-950 ml-5">{{ experience.period }}</div>-->
<!--          <div class="text-gray-950 ml-5"><span [innerHTML]="convertExperience(experience.experience)"></span></div>-->
<!--        }-->
<!--      }-->
    </li>
  }

</div>
